<div class="component-module algorithms-wrapper large-9 columns">
  <div class="structure">
    <h2 class="title">Algorithms</h2>
    <ul class="no-bullet">
      <div class="algorithms">
        <li>
          <h3>Sort</h3>
        </li>

        <li>
          <h3>Insert</h3>
        </li>

      </ul>
    </div>

  </div>
</div>
