<div class="component-module characteristics-wrapper">
  <div class="structure">
    <h2 class="title">Characteristics</h2>
    <%= loading %>
    <ul class="no-bullet structure-content characteristic-structure" id="characteristic-structure">
    </ul>
  </div>
</div>
