<div class="component-module descriptions-wrapper large-3 columns">
  <div class="structure">
    <h2 class="title">Descriptions</h2>
    <%= loading %>
    <ul class="no-bullet structure-content syntax-structure" id="syntax-structure">
    </ul>
  </div>
</div>
