<div class="component-module syntaxes-wrapper large-3 columns">
  <div class="structure">
    <h2 class="title">Descriptions</h2>
    <ul class="no-bullet">

      <li>
        <span>
          <strong>
            Paradigm:
          </strong>
        </span>
        <span>Object Oriented</span>

      </li>

      <li>
        <span>
          <strong>
            Typing:
          </strong>
        </span>
        <span>Static, Strong</span>
      </li>

      <li>
        <span>
          <strong>
            Integrations:
          </strong>
        </span>
        <span>Circle CI, Codacy</span>
      </li>

    </ul>
  </div>
</div>
