<div class="component-module integrations-wrapper">
  <div class="structure">
    <h2 class="title">Integrations</h2>
    <%= loading %>
    <ul class="no-bullet structure-content integration-structure" id="integration-structure">
    </ul>
  </div>
</div>
