<div class="component-module syntaxes-wrapper large-9 columns">
  <div class="structure">
    <h2 class="title">Syntax</h2>
    <%= loading %>
    <ul class="no-bullet structure-content syntax-structure" id="syntax-structure">
    </ul>
  </div>
</div>
