<div class="language-wrapper">
  <h1><span class="language-title">Kotlin</span></h1>
  <div class="row">
    <%= render partial: "syntaxes" %>
    <%= render partial: "descriptions" %>
  </div>
  <div class="row">
    <%= render partial: "algorithms" %>
  </div>
</div>
