@import "foundation_and_overrides";

.language-wrapper {
  h1 {
    .language-title {
      color: $black;
      font-size: 4rem;
      font-weight: 900;
      text-align: center;
      margin: 0;
      display: block;
    }
  }
}
