@import "foundation_and_overrides";

.structure-data {
  background-color: lighten($light-gray, 6%);
  padding: 1rem;
}

.structure {
  position: relative;

  h3 {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
  }
}

.structure-content {
  opacity: 0;
}
