@import "foundation_and_overrides";

.syntaxes-wrapper {
  .structure-data {
    background-color: lighten($light-gray, 6%);
    padding: 1rem;
  }

  .structure {
    h3 {
      font-size: 1.6rem;
      font-weight: bold;
      margin: 0;
    }
  }
}
