<header class="row full-width header">
    <div class="large-2 columns" id="polycode-header">
      <a href="/">PolyCode</a>
    </div>

    <div class="search-wrapper large-10 columns">

      <form class="" action="index.html" method="post">
        <label for="language">Language</label>
        <input type="text" name="language" value="">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
          Compare
        </button>
      </form>

    </div>

</header>
