<header class="row full-width header">
  <div class="search-wrapper large-9 columns">
    <form class="" action="index.html" method="post">
      <label for="language">Language</label>
      <input type="text" name="language" value="">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
        Compare
      </button>
    </form>
  </div>
</header>
