<header>
  <div class="search-wrapper">
    <form class="" action="index.html" method="post">

      <!-- Textfield with Floating Label -->
      <div class="mdl-textfield mdl-js-textfield  ">
        <input class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Language</label>
      </div>

      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        Compare
      </button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        Search
      </button>
      <a href="#" class="sign">
        Sign
      </a>
      <%= render 'layouts/sign' %>
    </form>

  </div>

</header>
