<div class="sign hide">
  <ul class="tabs" data-active-collapse="true" data-tabs id="collapsing-tabs">
    <li class="tabs-title is-active"><a href="#sign-in" aria-selected="true">Sign in</a></li>
    <li class="tabs-title"><a href="#sign-up">Sign-up</a></li>
  </ul>

  <div class="tabs-content" data-tabs-content="collapsing-tabs">
    <div class="tabs-panel is-active" id="sign-in">
      <p>AQUI TU IRÁS LOGAR</p>
    </div>
    <div class="tabs-panel" id="sign-up">
      <p>AQUI TU VAIS CADASTRAR</p>
    </div>
  </div>
</div>
